

.header{


	border: 1px solid red;
	width: 300px;
	height: 60px;
	font-size: 45px;
	color: green;
	margin-left: 500px;
	padding-left: 90px;
}
.baza{


	font-size: 30px;
}
.Contents {

	border: 1px solid green;
	height: 400px;
	width: 100%;
	display: inline-flex;

	margin-top: 20px;
	
}

}
.foto1
{
	float: right;
}
.city1
{

	  border: 1px solid red;
	  width: 350px;
	  height: 350px;
	color: red;
	font-size: 150%;
	margin-right: 30px;
	background-image: url(FotoperWeb/losangelos.jpg);
	margin-left: 20px;

}
.city1 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}
.city2
{

	  border: 1px solid red;
	width: 350px;
	  height: 350px;
	color: red;
	font-size: 150%;
	margin-right: 10px;
	background-image: url(FotoperWeb/roma.jpg);

}

.city2 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city3
{

	  border: 1px solid red;
	  width: 350px;
	  height: 350px;
	color: red;
	font-size: 150%;
	margin-right: 10px;
	background-image: url(FotoperWeb/vankuver.jpg);
	background-position: center;

}
.city3 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city4
{

	  border: 1px solid red;
	 width: 350px;
	  height: 350px;
	color: red;
	font-size: 150%;
	margin-right: 10px;
	background-image: url(FotoperWeb/london.jpg);

}
.city4 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}


#next{
	float: right;
}
#prew{
	float: left;
}



