

.search{
	background-image: url(FotoperWeb/search.jpg);

	border: 1px grey solid;
	height: 450px;
	width: 442px;
	background-position: center;


}
.search h1{



}

.f1{

	background-image: url(FotoperWeb/f1.jpg);

	border: 1px grey solid;
	height: 450px;
	width: 442px;
	background-position: center


}

.f2{

		background-image: url(FotoperWeb/f2.jpg);

	border: 1px grey solid;
	height: 450px;
	width: 442px;
	background-position: center

}

.Pershkrimi{

	border: 1px grey solid;
	height: 450px;
	display: flex;
	
	
		
}
.bacgroundi{
	background-color: orange;
}

.continent{

	border: 1px red solid;
	height: 150px;
	width: 100%;
		background-image: url(FotoperWeb/tt.jpg) ;
			background-repeat: no-repeat;
			background-size: 100%;
}

.continent ul ul{

	display: none;
	border: 1px white solid;


}

.continent ul ul li:hover{

	background-color: orange;

}

.continent ul li:hover > ul{

	display: block;
}


.menu{

	margin-left: 160px;

}



.continent ul li {


float: left;
	 


	background-color: #8E44AD;
	border: 1px solid white;
     line-height: 30px;
     font-size: 20px;
     text-align: center;
     color: white;
     height: 30px;
     width: 150px;
     border-radius: 10px;
     box-shadow: 2px 4px 4px;
}



.continent ul {
	list-style: none;
}


ul li:hover{
	background-color: #85C1E9;
}
.contact
{
	
	width: 200px;
	height: 100px;
	float: right;
	margin-top: 20px;
}

.contact ul li
{
	display: inline-block;
}
.header{


	border: 1px solid red;
	

	height: 200px;
	
	background-image: url(FotoperWeb/qadra.jpg) ;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: right;
	
}

.baza{


	font-size: 30px;	
}



.berlin{


	border: 1px red solid;
	width: 40px;

	height: 435px;
	background-image: url("FotoperWeb/berlin.jpg");
	background-size: 100%;
	
	border-radius: 8px;
		box-shadow: 3px 4px 5px;

}

.berlin button{
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}
.bermen{


	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/bermen.jpg");
	background-size: 100%;

	border-radius: 10px;
		box-shadow: 3px 4px 5px;

}

.bermen button{
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;
	


}
.hamburg{


	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/hamburg.jpg");
	background-size: 100%;
		border-radius: 10px;
			box-shadow: 3px 4px 5px;
	}
.hamburg button{
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;

}
.dortmund{


	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/dortmund.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;
}

.dortmund button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}



.Contents {

	border: 1px solid green;
	height: 600px;


	background-color: orange;

	
}


.city1
{

	  border: 1px solid red;
	  width: 300px;
	  height: 400px;
	color: red;
	font-size: 150%;
	background-size: 100%;

	background-image: url(FotoperWeb/losangelos.jpg);


	
 
}
.city1 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}
.city2
{

	  border: 1px solid red;
	width: 300px;
	  height: 400px;
	color: red;
	font-size: 150%;
	
	background-image: url(FotoperWeb/roma.jpg);
	margin-right: 20px;
	margin-left: 10px;
  	

}

.city2 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city3
{

	  border: 1px solid red;
	  width: 300px;
	  height: 400px;
	color: red;
	font-size: 150%;

	background-image: url(FotoperWeb/vankuver.jpg);
	background-position: center;
	margin-left: 10px;

  

}
.city3 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city4
{

	  border: 1px solid red;
	 width: 300px;
	  height: 400px;
	color: red;
	font-size: 150%;

	background-image: url(FotoperWeb/london.jpg);

  

}
.city4 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}


.most .slick-next{
	font-size: 20px;
border-radius: 20px;

margin-left: 640px;


}
.most .slick-prev{
	font-size: 20px;
	border-radius: 20px;
	margin-left: 610px;
	

}


.cont{


	background-color: orange;

	border: 1px grey solid;
	width: 350px;

	margin-left: 100px;
	

	float: left;
	border-radius: 10px;
	box-shadow: 2px 4px 4px;
	margin-top: 230px;
	padding: 20px;



}

.search h1{

border: 1px green solid;
width: 200px;
height: 160px;
float: right;
margin-top: 150px;

border-radius: 10px;
box-shadow: 2px 3px 4px;
color: white;
margin-left: 40px;
color: black;
margin-right: 30px;
color: green;






}

.f1 h1{

border: 1px blue solid;
width: 400px;
height: 100px;
float: right;
margin-top: 260px;

border-radius: 10px;
box-shadow: 2px 3px 4px;
color: white;
margin-right: 20px;

	


}

.h1 h1{
	border: 1px blue solid;
width: 620px;
height: 50px;
float: right;
margin-top: 260px;

border-radius: 10px;
box-shadow: 2px 3px 4px;
color: white;
margin-right: 160px;




}

.f2 h1{

border: 1px blue solid;
float: right;
margin-top: 160px;
margin-right: 200px;
border-radius: 10px;
box-shadow: 2px 3px 4px;
color: white;
margin-left: 40px;
color: black;





}
h1 button {
	border: 1px grey solid;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 2px 3px 4px;






}
.all {

	background-image: url(FotoperWeb/bc.jpg);


	width: 100%;
	height: 640px;
}


.all1{


	width: 100% ;
	height: 640px;
		background-image: url(FotoperWeb/bc.jpg);
}


.cont1{
		background-color: orange;

	border: 1px grey solid;
	width: 350px;

	margin-left: 120px;
	

	float: left;
	border-radius: 10px;
	box-shadow: 2px 4px 4px;
	margin-top: 180px;	
	padding: 20px;


}

.contbutton button {


	border: 1px red solid;

	margin-top: 20px;
	font-size: 30px;
	margin-left: -480px;
	border-radius: 10px;
	box-shadow: 2px 3px 4px;
}
h2{

border: 1px blue solid;
float: right;
margin-top: 270px;
margin-right: 270px;
border-radius: 10px;
box-shadow: 2px 3px 4px;
color: white;
font-size: 35px;





}
h2 button {
	border: 1px grey solid;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 2px 3px 4px;






}

.aall{

	border:1px blue solid;
	height:  450px;

}
input {
	margin: 20px 0;

	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-family: 'Raleway',sans-serif;

}
.allbutton button {


	border: 1px red solid;

	margin-top: 20px;
	font-size: 30px;
	margin-left: -480px;
	border-radius: 10px;
	box-shadow: 2px 3px 4px;
}


.show1{


	border: 1px solid red;
	width: 400px;
	height: 200px;
	background-color: orange;
	box-shadow: 2px 3px 4px;
	padding: 10px;
	}
.mt-2{

		border: 1px grey solid;
	width: 300px;
	height: 300px;
	background-color: orange;
	border-radius: 10px;

	margin-left: 100px;
	margin-top: 100px;
	box-shadow: 2px 4px 4px;



}
.mt-2 button {
	border: 1px red solid;

}
.data {

	border: 1px red solid;
}

.login{

	border: 1px red solid;
	width: 500px;
	height: 100px;
	background-color: grey;
	padding: 10px;
}
.login  button{

	border: 1px red solid;
width: 400px;

	padding: 10px;
	border-radius: 10px;
}


/*Switzerland*/


.bern {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/bern.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}
.bern button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}


.lucern {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/lucern.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}
.lucern button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}

.lenk {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/lenk.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}
.lenk button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}

.neuchatel {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/neuchtel.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}

.neuchatel button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}


/*austri */



.vien {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/neuchtel.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}

.vien button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}


.salzburg {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/neuchtel.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}

.salzburg button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}
.hallstatt {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/neuchtel.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;

}

.hallstatt button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;


}

.innsbruck {



	border: 1px red solid;
	height: 435px;
	background-image: url("FotoperWeb/neuchtel.jpg");
	background-size: 100%;

	border-radius: 10px;
	box-shadow: 3px 4px 5px;


}

.innsbruck button{
font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;

}

.NewYork{
	border: 1px red solid;
	height: 435px;
	background-image: url("https://mk0travelawayrru2xew.kinstacdn.com/wp-content/uploads/2017/08/NYC-aerial-view.jpg");
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 3px 4px 5px;

} 
.NewYork button{
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;
}
.StatueofLiberty {
	border: 1px red solid;
	height: 435px;
	background-image: url("https://i2.wp.com/wadetours.com/wp-content/uploads/2020/01/Statue-of-Liberty-2-scaled.jpg?fit=2560%2C1707&ssl=1");
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 3px 4px 5px;
}

.StatueofLiberty button {
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;

}
.TwinTowers {
	border: 1px red solid;
	height: 435px;
	background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/2-world-trade-center-twin-towers-new-york-city-antonio-martinho.jpg");
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 3px 4px 5px;
}
.TwinTowers button {
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;
}
.CentralPark {
	border: 1px red solid;
	height: 435px;
	background-image: url("https://media.timeout.com/images/103451632/630/472/image.jpg");
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 3px 4px 5px;
}
.CentralPark button {
	font-size: 30px;
	margin-left: 280px;
	margin-top: 200;
	border-radius: 10px;
	border-radius: 1px black solid;
	box-shadow: 3px 4px 4px;
	background-color: grey;
	color: white;
}

