

.bacgroundi{
	background-color: orange;
}

.header{


	border: 1px solid red;
	width: 300px;
	height: 60px;
	font-size: 45px;
	color: green;
	margin-left: 500px;
	padding-left: 90px;
}
.baza{


	font-size: 30px;	
}
.Contents {

	border: 1px solid green;
	height: 500px;


	margin-top: 20px;
	background-color: orange;

	
}


.city1
{

	  border: 1px solid red;
	  width: 300px;
	  height: 350px;
	color: red;
	font-size: 150%;

	background-image: url(FotoperWeb/losangelos.jpg);


	
 
}
.city1 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}
.city2
{

	  border: 1px solid red;
	width: 300px;
	  height: 350px;
	color: red;
	font-size: 150%;
	
	background-image: url(FotoperWeb/roma.jpg);
margin-right: 20px;
margin-left: 10px;
  

}

.city2 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city3
{

	  border: 1px solid red;
	  width: 300px;
	  height: 350px;
	color: red;
	font-size: 150%;

	background-image: url(FotoperWeb/vankuver.jpg);
	background-position: center;
	margin-left: 10px;

  

}
.city3 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}

.city4
{

	  border: 1px solid red;
	 width: 300px;
	  height: 350px;
	color: red;
	font-size: 150%;

	background-image: url(FotoperWeb/london.jpg);

  

}
.city4 button {

	margin-left: 100px;
	margin-top: 340px;
	border-radius: 10px;
}


.Contents .slick-next{
	font-size: 20px;
border-radius: 20px;

margin-top: 30px;
margin-left: 600px;

}
.Contents .slick-prev{
	font-size: 20px;
	border-radius: 20px;
	margin-left: 600px;
	margin-top: 10px;

}

